.btn-climb {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    background-color: #0077b6;
    padding: 1rem 2rem;
    border-radius: 5rem;
    cursor: pointer;
}
.btn-order{
    text-decoration: none;
    display: block;
    width: 10rem;
    color: #fff;
    border: 2px solid #000;
    background-color: rgba(0,0,0, .9);
    margin-left: 10rem;
    margin-top: 5rem;
    font-size: 1.5rem;
    padding: .5rem .6rem;
    border-radius: 5rem;
}

.btn-back {
    text-decoration: none;
    position: fixed;
    top: 0;
    margin: 2rem 2rem;
    background-color: skyblue;
    border: 1px solid #fff;
    padding: .5rem 1rem;
    border-radius: 1rem;
    transition: .2s ease-in-out;

    i{
        color: #fff;
    }

    &:hover {
        transform: scale(1.5);
    }
}